*,html,body{
    margin: 0;
    padding: 0;
    border-radius: 0;
    border:0;
    box-shadow: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
    

}
a{
    color: inherit;
    text-decoration: none;
    
    &:visited{
        color:inherit;
    }
}

.container{
    display: flex;
    flex-direction: row;
    margin: 200px auto 0;
    width: max-content;
    border: 2px solid rgba(163, 65, 163, 0.356);
    box-shadow: 10px 10px 0px 0px rgb(157, 126, 184);
    padding: 10px;
    height: max-content;
    @media (max-width:768px) {
        flex-direction: column;
        
    }
}
.title{
    margin:20px auto;
    text-align: center; 
    letter-spacing: 5px;
    font-weight: 700;
    color:rgb(129, 102, 151);
    
}
.form {
    margin-bottom: 20px;
    
}
.input {
    font-size: 20px !important;
    &:focus , &:active{
        border: none;
        text-decoration: none;
        border-style: none;
        
        outline-color: red;
    }
}
input[type=text]{
    font-size: 15px;
}
.addButton{
    position: relative;
    top:0;
    display: block;
    width: 100%;
    height: 30px;
    border: 2px solid rgb(193, 150, 228);
    box-shadow: 0 5px 0px 0px rgb(72, 52, 88) ;
    background-color: white;
    margin:20px auto 5px;
    transition: all 0.1s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: rgb(231, 202, 255);
    }
    &:active{
        top:4px;
        
        box-shadow: 0 1px 0 0;
    }
    
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(72, 52, 88) ;
    
}
.active-todos{
    //min-height: 100px;
    min-height: 100%;
    
    width: 100%;
    padding: 0 0 0 20px;
    
}
.newTodoElement{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    word-wrap: break-word;
    height: max-content;
    margin: 5px auto;
    &__text{
        display: block;
        width: 100%;
        text-align: right;
        
    }
}
.removeButton{
    margin-left:10px;
    &:hover{
        cursor: pointer;
    }
}
.credits{
    
    color: rgb(72, 52, 88) ;
    letter-spacing: 3px;
    width: min-content;
    display: flex;
    justify-content: space-evenly;
    margin:15px auto 0;
    line-height: 2;
    img{
        display: block;
        margin-left: 10px;
    }
}
